<div id="introduction">
<h2>Welcome to ABC database</h2>
<p>This is your ultimate database management system for managing your stores, products, customers, and orders.<br>
You can also analyze your store performence customer preference and more.<br>
Check the 'Report' tab on the navigation bar.</p>
<br></div>

<div id="notice">
<h3>Notice</h3>
<p style='color:red; font-size: 20px; font-weight: bold;'>
  - <br>
  - </p>
</div>
<br><br>
<div id="welcomeImage">
  <img src="/images/word_art_database.png" style="width:60%">
  <p>The image was created by <a href="https://wordart.com/" target ="_blank">Word Art</a></p>
</div>
