
<p>Welcome to ABC database.</p>
<p>This is your ultimate database management system for managing your stores, products, customers, and orders.</p>
<p>It can also analyze your store performence customer preference and more. Check report page on the navigation bar.</p>
<br>
<h3>Notice</h3>
<div>
  <p>to be updated...</p>
</div>
