<h1>Orders_Products</h1>
<p>for debug use only</p>
<br>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>oid</th>
      <th>pid</th>
      <th>qty</th>
      <th>total_sales</th>
    </tr>
  </thead>
  <tbody>
    {{#each inputList}}
      <tr>
        <td>{{this.oid}}</td>
        <td>{{this.pid}}</td>
        <td>{{this.qty}}</td>
        <td>${{this.total_price}}</td>
      </tr>
    {{/each}}
  </tbody>
