<h1>Sales</h1>
<br>
<table class="table table-striped table-bordered" id="salestable">
  <thead>
    <tr>
      <th>Store Id</th>
      <th>Store Name</th>
      <th>Total Sales</th>
    </tr>
  </thead>
  <tbody>
    {{#each inputList}}
      <tr>
        <td>{{this.store_id}}</td>
        <td>{{{this.store_name}}}</td>
        <td>${{this.total_sales}}</td>
      </tr>
    {{/each}}
  </tbody>
