
/* Home: message body */
.mbody {
  margin: 100px;
}

/* Entity page body */
.pbody {
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
}

.pbody2{
  margin: 0 auto;
  padding: 3% 3%;
}

/* Add/Search form */
.form {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: grey;
}

/* Table: Text*/
tr {
  text-align: center;
}

/* Table: Update & Delete Buttons */
tbody > button {
  display: block;
  margin: 0 auto;
}

tbody > input {
  display: block;
  margin: 0 auto;
}

button {
  border-color: #555;
  border-radius: 2px;
  padding: 5px 15px;
}


button:hover {
  background-color: #555;
}

/* new Window contents*/
.newWindow {
  margin: 10px;
  /* padding: 15px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: grey; */
}
